<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Plant:</h3>

    <form class="form new-plant-form">
      <div class="form-group">
        <label for="plant-name">plant name:</label>
        <input class="form-input" type="text" id="plant-name" name="plant-name" />
      </div>
      <div class="form-group">
        <label for="plant-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="plant-funding" name="plant-funding" />
      </div>
      <div class="form-group">
        <label for="plant-desc">description:</label>
        <textarea class="form-input" id="plant-desc" name="plant-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if plants.length}}
  <div class="col-md-6 plant-list">
    <h3>Current Plants:</h3>

    {{#each plants as |plant|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/plant/{{plant.id}}">{{plant.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{plant.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
