<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Plants</h3>

   <form class="form edit-form flex flex-row flex-wrap p-2 w-96 rounded-lg bg-[#B7D55D]">
      <div class="form-group w-full bg-white p-2 rounded-t-lg">
        <label for="name-edit">name:</label>
        <input class="form-input" type="text" id="name-edit" />
      </div>
      <div class="form-group w-full bg-white p-2">
        <label for="email-edit">email:</label>
        <input class="form-input" type="text" id="email-edit" />
      </div>
      <div class="form-group w-full bg-white p-2 rounded-b-lg">
        <label for="password-edit">password:</label>
        <input class="form-input" type="password" id="password-edit" />
      </div>
      <div class="form-group w-full flex flex-row flex-wrap justify-center pt-2">
       <button class="p-2" type='submit'><img class="h-4 m-auto" src="./assets/images/icons8-save-48.png"
            alt="A dark green save icon">Signup</button>
      </div>
    </form>


  <nav class="flex flex-row flex-wrap">
        <button id="logoutBtn" class="p-2"><img class="h-4 m-auto" src="./assets/images/icons8-logout-48.png"
            alt="A dark green leaf icon">Plants</button>

      </nav>

  {{#if collections.length}}
  <div class="col-md-6 plant-list">
    <h3>Current Plants:</h3>

    {{#each collections as |collection|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/plant/{{collection.id}}">{{collection.plant_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{collection.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
